/* .debug {
    background-color: green;

    header {
        background-color: antiquewhite;
    }

    .left-mn,
    .right-mn {
        border: 1px dashed;
    }

    .card {
        border: 1px dashed;
        height: 200px;
        width: 200px;
    }

    .album {
        border: 1px dashed;

    }
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}



body {
    height: 100vh;
    overflow: hidden;


    header {
        height: 112px;

        a {
            color: white;
        }

        .left-hd {
            display: flex;
            flex-direction: row;

            .mobile {
                display: none;
            }

            a {
                padding-right: 10px;
            }
        }

        .right-hd {
            a {
                padding-left: 15px;
            }
        }

        .top-hd {
            display: flex;
            background-color: #222222;
            padding: 10px 25px;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 50%;

            search {
                background-color: #464646;
                border: none;
                border-radius: 4px;
                padding: 0px;
                padding-right: 50px;
                padding-left: 5px;
                font-size: 14px;
                display: flex;
                align-items: center;
                color: #898989;
            }
        }

        .bot-hd {
            background-color: #2b2b2b;
            height: 50%;
            display: flex;
            justify-content: flex-start;
            padding: 10px 25px;

            search {
                border: 1px solid #898989;
                border-radius: 25px;
                color: #898989;
                background-color: #3c3c3c;
                display: flex;
                align-items: center;
                padding: 0;
                padding-right: 100px;
                padding-left: 10px;
            }
        }
    }

    main {
        display: flex;
        height: calc(100% - 112px);
        padding-top: 10px;
        background-color: #222222;
    }

    .left-mn {
        width: 70%;
        overflow-y: auto;
        border-right: 1px solid #898989;
        padding: 15px;
        scrollbar-width: thin;
        scrollbar-color: #898989 #222222;

        .card:hover i {
            display: block;
        }

        i {
            display: none;
            position: absolute;
            font-size: 20px;
            right: 20px;
            top: 250px;
            color: #312e2e;
        }

        strong {
            font-size: 14px;
            color: white;
        }

        .gray {
            color: #898989;
        }

        .album {
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            .card {
                width: calc(100% / 4);
                padding: 10px;
                position: relative;



                img {
                    width: 100%;
                    border: 1px solid #898989;

                    &:hover {
                        border: none;
                    }
                }
            }
        }
    }

    .right-mn {
        width: 30%;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: #898989 #222222;

        audio {
            margin-left: 25px;
        }

        img {
            width: 90%;
            margin: 25px;
            border: 1px solid #898989;

        }

        .play {
            color: white;
            display: flex;
            flex-direction: row;
            padding: 20px;

            i {
                color: white;
                font-size: 60px;

                &:hover {
                    color: #898989;
                }

            }
        }

        .list {
            display: flex;
            flex-direction: column;
            align-items: center;


        }

        .go {
            background-color: white;
            color: #222222;
            padding: 15px 120px;
            border-radius: 4px;

            &:hover {
                background-color: #898989;
            }
        }

        .wi {
            color: white;
            border: 1px solid white;
            padding: 15px 120px;
            border-radius: 4px;
            margin-top: 10px;
            margin-bottom: 15px;

            &:hover {
                background-color: #3c3c3c;
            }
        }

        .time {
            color: white;
            padding-left: 25px;
        }

        .follow {
            display: none;

            .wi {
                margin-left: 55px;
            }

            .play {
                img {
                    margin: 0;
                    margin-right: 5px;
                    width: 20%;
                    border-radius: 50%;
                    border: none;
                }
            }
        }
    }

}





@media screen and (max-width: 1024px) {
    body {

        .left-mn {
            width: 65%;

            i {
                top: 120px;
            }

            .album {
                .card {
                    width: calc(100% / 3);
                }
            }
        }

        .right-mn {
            width: 35%;

            .follow {
                display: block;
            }

            .go {
                padding: 10px 50px;
            }

            .wi {
                padding: 10px 50px;
            }

        }
    }
}

@media screen and (max-width: 744px) {
    body {

        .left-mn {

            i {
                top: 150px;
            }

            .album {
                .card {
                    width: calc(100% / 2);
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    body {
        header {
            .left-hd {
                .dekstop {
                    display: none;
                }

                .mobile {
                    display: block;
                }

                search {
                    display: none;
                }
            }
        }

        .left-mn {
            width: 100%;

            .album {
                .card {
                    width: calc(100% / 2);
                }
            }
        }

        .right-mn {
            display: none;
        }
    }
}