* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;

    header {
        height: 112px;
    }

    main {
        display: flex;
        height: calc(100% - 112px);
    }

    .left-mn {
        width: 70%;
        overflow-y: auto;

        .album {
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            .card {
                width: calc(100% / 4);
            }
        }
    }

    .right-mn {
        width: 30%;
    }

}

.debug {
    background-color: green;

    header {
        background-color: antiquewhite;
    }

    .left-mn,
    .right-mn {
        border: 1px dashed;
    }

    .card {
        border: 1px dashed;
        height: 200px;
        width: 200px;
    }

    .album {
        border: 1px dashed;

    }
}

@media screen and (max-width: 744px) {
    body {
        .left-mn {
            width: 65%;

            .album {
                .card {
                    width: calc(100% / 3);
                }
            }
        }

        .right-mn {
            width: 35%;
        }
    }
}

@media screen and (max-width: 600px) {
    body {
        .left-mn {
            width: 100%;

            .album {
                .card {
                    width: calc(100% / 2);
                }
            }
        }

        .right-mn {
            display: none;
        }
    }
}